CS_AWS_PROFILE=default
CS_ORGANIZATION_ROLE=my-organization-role
CS_RUNNER_ROLE=my-runner-role
CS_SCANNERS=  # If left empty, defaults to 'all' (i.e., use all scanners)
CS_REGIONS=  # If left empty, defaults to 'all' (i.e., use all regions)
CS_MAX_WORKERS=4
CS_DAYS_THRESHOLD=90  # Default value is 90 days